h4 {
    text-align: end;
    padding-right: 20px;
}

h1 , h3 {
    text-align: center;
    text-transform: uppercase;
}
h1 span {
    margin-left: 16px;
}
h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h3 {
    letter-spacing: 10px;
    font-weight: 900;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container {
    margin: 30px auto;
    height: 380px;
    width: 600px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    column-gap: 100px;
}
.btn {
    height: 140px;
    width: 140px;
    border: 3px solid black;
    box-shadow: 1px 1px 5px black ,
    -1px -1px 5px black;
    border-radius: 16px ;
}
body , html {
    /* background-color: rgba(245, 245, 220,0.6); */
    background-color: #A1BC98;
}

.green {
    background-color: green;
}
.red {
    background-color: red;
}
.yellow {
    background-color: yellow;
}
.blue {
    background-color: blue;
}

.GameFlash  {
    background-color: white;
}
.UserFlash {
    background-color: slateblue;
}